<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<script src="/webjars/jquery/jquery.js"></script>

    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>

	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link href="/webjars/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"
/>



</head>
<body>
<div class="container">
<div th:replace="/layout/blank_layout/head::header(var=112)" ></div>

<div layout:fragment="content" th:remove="tag">content</div>
<div th:replace="/layout/blank_layout/footer::footer"></div>
</div>
</body>
</html>